<% include  ../partials/header%>
<div class="container">
	<a href="/blogs/new" class="btn btn-primary">Add new</a>
    <div class="row">
    	<%posts.forEach(function(post){ %>
			<div>
				<div class="blogTitle">
					<h4><%=post.title %></h4>
				</div>
				<div class="blogAuthor">
					<h6><%=post.author %></h6>
				</div>
				<div class="blogDate">
					<h6><%=post.date %></h6>
				</div>
				<div class="blogText">
					<p><%=post.text %></p>
				</div>
				

			</div>
    	<%}) %>
    </div>
</div>
<% include  ../partials/footer%>