<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>

	<nav id="navbar" class="navbar navbar-expand-sm navbar-dark">
		<a href="/" class="navbar-brand"><img src="https://www.iconsdb.com/icons/preview/silver/home-7-xxl.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>	
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<ul class="nav navbar-nav ">
				<%if(!currentUser){%>
				<a class="nav-item nav-link" href="/login">Login</a>
				<a class="nav-item nav-link" href="/register">SignUp</a>
				<%} else {%>
				<a class="nav-item nav-link" href="/<%=currentUser._id%>/posts">My posts </a>
				<a class="nav-item nav-link" href="#">Signed In As <%=currentUser.username%></a>
				<a class="nav-item nav-link" href="/logout">LogOut</a>
				<%}%>	
			</ul>
		</div>
		

	</nav>
	


<body>
  