<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>
<body>
  
	<nav id="navbar" class="navbar navbar-expand-sm navbar-dark">
		
		<a href="/" class="navbar-brand mx-2"><img src="https://www.iconsdb.com/icons/preview/silver/blogger-5-xxl.png" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar">
					<ul class="nav navbar-nav">
						<a class="nav-item nav-link" href="/posts">Public Posts</a>
					</ul>
			</div>
		<% if (currentUser) { %>
				<div class="navbar">
					<ul class="nav navbar-nav">
						<a class="nav-item nav-link" href="/<%=currentUser._id%>/posts">My posts </a>
					</ul>
				</div>
		<%}%>
				
				
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<ul class="nav navbar-nav ">
				<%if(!currentUser){%>
				<a class="nav-item nav-link" href="/login">Login</a>
				<a class="nav-item nav-link" href="/register">SignUp</a>
				<%} else {%>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         			 <img id="userImg" src="https://www.iconsdb.com/icons/preview/silver/user-xxl.png" alt="">
       				 </a>
       				 <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownMenuLink">
       				 	<a class="dropdown-item" href="#">Signed In As <%=currentUser.username%></a>
						<a class="dropdown-item" href="/logout">LogOut</a>
       				 </div>
				</li>
				
				<%}%>	
			</ul>
		</div>
		

	</nav>
	

	<div class="container">
		<%if(error && error.length>0){%>
			<div class="alert alert-dark" role="alert">
				<%=error%>
			</div>
		<%}%>
		<%if(success && success.length>0){%>
		<div class="alert alert-dark" role="alert">
			<%=success%>
		</div>
		<%}%>

	</div>



