<% include  partials/header%>
	<div class="container-fluid landing-layer1">
	</div>
	<div class="landing-layer2 d-flex flex-column text-center align-items-center">
	    <h1>
	        Get inspired and create your own Blog
	    </h1>
	   <div class="landing-buttons d-sm-flex  justify-content-center m-5">
	   		<a href="/register" class="btn btn-dark btn-lg">Sign Up - It's Free!</a>
	   		<a href="/login" class="btn btn-dark btn-lg">To My Account</a>
	   		
	   </div>
	</div>
	<div class="landind-logo d-flex justify-content-center my-4">
		<p>this blog - the safest place for your thoughts</p>
	</div>
	<div class="container-fluid landing-articles">
		<div class="row">
			<div class=" col-6 justify-content-center">
				<img class=" d-block mx-auto" src="https://www.iconsdb.com/icons/preview/silver/edit-11-xxl.png" alt="">
				
			</div>
			<div class=" col-6">
				<img class=" d-block mx-auto" src="https://www.iconsdb.com/icons/preview/silver/edit-6-xxl.png" alt="">
				
			</div>
			
		</div>
	</div>
<% include  partials/footer%>