<% include  partials/headerWithoutBackground%>
	<div id="landing-layer" class="container-fluid d-flex flex-column text-center justify-content-center align-items-center">
		<h1 class="mt-5">
	        Get inspired and create your own Blog
	    </h1>
	   <div class="landing-buttons d-block d-md-flex justify-content-center m-5">
	   		<a href="/register" class="btn btn-dark btn-lg">Sign Up - It's Free!</a>
	   		<a href="/login" class="btn btn-dark btn-lg">To My Account</a>
	   		
	   </div>
	</div>
	
	<div class="container-fluid landind-logo d-block text-center justify-content-center my-4">
		<p>this blog - the safest place for your thoughts</p>
	</div>
	<div class="container-fluid landing-articles">
		<div class="row">
			<div class="landing-articles-item col-sm-12 col-md-6 justify-content-center">
			
				<h3 class="text-center">Keep an blog online</h3>
				<p class="p-3 mx-auto">You want to keep your thoughts in a place where no one can find them? Or capture great ideas so they do not get lost? The online blog offers you a safe place for your topics.</p>
			</div>
			<div class="landing-articles-item col-sm-12 col-md-6">
				
			
											
				<h3 class="text-center">Access via Internet</h3>
				<p class="p-3 mx-auto">To use blog all you need is a gadget with Internet access. Whether you are at home or on the move – if you have a sudden urge to write, you can access your data at any time and from anywhere.</p>
			</div>
			
		</div>
	</div>
<% include  partials/footerWithoutBackground%>