body
{
    font-family: 'Raleway', sans-serif;

    color: #bfbfbf;
    background-color: #000;
}

#container-background
{
    position: absolute;

    overflow: auto;

    height: 100vh;

    background-image: url('https://images.unsplash.com/photo-1570457975784-0246865facd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container
{
    position: relative;
}



hr
{
    display: block;
    clear: both;

    height: 1px;

    border: 0;
    background-color: #909090;
}

#navbar
{
    color: #bfbfbf;
    background-color: #000;
}

#navbar .navbar-brand img
{
    height: 25px;
}

.navbar-dark .navbar-nav .nav-link
{
    color: rgba(255, 255, 255, .6);
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: rgba(255, 255, 255);
}

#landing-layer
{
    /* position: absolute; */

    overflow: auto;

    height: 55vh;

    background-image: url('https://images.unsplash.com/photo-1570457975784-0246865facd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
}



#landing-layer h1
{
    font-size: 3em;

    margin-top: 30px;
}

#landing-layer a
{
    margin: 2%;
    margin-top: : 3%;

    border-color: #212121;
    background-color: #212121;
}

#landing-layer a:hover
{
    border-color: #6b6b6b;
    background-color: #6b6b6b;
}

.landind-logo p
{
    font-size: 1.3em;
    font-weight: 200;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, .1), 2px 2px 3px rgba(112, 112, 112, .15);
}

.landing-articles .landing-articles-item
{

    text-align: justify;
}

.landing-articles img
{
    width: 60px;
}

.landing-articles .landing-articles-item p
{
    max-width: 450px;
}


.login-register-container
{
   overflow: auto;

    height:100vh;

    background-image: url('https://images.unsplash.com/photo-1570457975784-0246865facd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.login-register-container h1{
	margin-top: 8vh;
	margin-bottom: 3vh;
	font-size: 3em;
}

.login-register-form-group
{
    margin-top: 15vh;
}

.addNewButton
{
    border-color: #060606d1;
    background-color: #060606d1;
}

.postCard
{
    background-color: #060606d1;
}

.btn-readMore
{
    border-color: #101010c4;
    background-color: #101010c4;
}
.btn-readMore:hover {
	background-color: #333333d1;
	color: #fff;
}

#userImg
{
    height: 25px;
}

.btn-delete-edit-add
{
    color: #fff;
    border-color: #060606d1;
    background-color: #060606d1;
}
.btn-delete-edit-add:hover{
	background-color: #333333d1;
	border-color: #333333d1;
	color: #fff;
}

.post-show-title
{
    font-size: 2.6em;

    text-align: center;
}


.post-show-text
{
    text-align: justify;
}

#post-show
{
    background-color: #060606d1;
}

.form-control
{
    color: #bfbfbf;
    background-color: #121010;
}

.form-control:focus
{
    color: #bfbfbf;
    background-color: #121010;
}

.isPrivate p
{
    margin: 0;
}

.isPrivate
{
    font-size: 1.1em;

    margin: 20px 0;
}

.submit-goBack-button .btn
{
    font-size: 1.2em;

    margin-right: 10px;

    color: #bfbfbf;
    border-color: #121010;
    background-color: #121010;
}
.show-date-isPrivate-line
{
    display: flex;

    justify-content: space-between;
}
.post-show-editDelete-btn
{
    display: flex;
    flex-direction: row;
}
