<% include  ../partials/header%>
<div class="container">
	<a href="/posts/new" class="btn btn-primary">Add new</a>
    <div >

    	<%posts.forEach(function(post){ %>
			<div class="card">
				<div class="card-body">
					<div class="postTitle card-title">
						<h4><%=post.title %></h4>
					</div>
					
					<div class="postDate card-text">
						<h6 class="text-muted"><small><%=post.date %></small></h6>
					</div>
					<div class="postText card-text">
						<p><%=post.text %></p>
					</div>
					<div class="postAuthor card-text">
						<h6 class="text-muted"><small><%=post.author %></small></h6>
					</div>
				</div>

			</div>
    	<%}) %>
    </div>
</div>
<% include  ../partials/footer%>