<% include  ../partials/header%>
	
	<div class="container">
		<h2><%= post.title %></h2>
		<h6><%= post.date.toDateString() %></h6>
		<p><%= post.text %></p>

		<a href="/post/<%=post._id%>/edit" class = "btn btn-info">Edit</a>
	</div>	

<% include  ../partials/footer%>